body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to right,green,blue);
    align-items: center;
    height: 100%;
}